:root {
    --colorTextos: #49454567;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    background: white;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-weight: 700;
    color: white;
}
form{
    background: skyblue;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.form{
    width: 100%;
    margin: auto;
}